.add-book-button__button{
    background: #3C740F;
    border-radius: 0px 7px 0px 7px;
    border: 6px solid white;
    width: 30px;
    height: 30px;
}

.add-book-button__button:hover{
    background: #3C740F;
    stroke: #ccdfbc;
}

.add-book-button__button:active{
    background: #ccdfbc;
    stroke: #3C740F;
}