.book-cards__container{
    padding-top: 10px;
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: repeat( auto-fit, minmax(270px, 270px) );
    justify-content: center;
}

@media only screen and (max-width: 767px){
    .book-cards__container{
        grid-template-columns: repeat( auto-fit, minmax(180px, 180px) );
        margin-left: 20px;
        margin-right: 20px;
    }
}