.book-cards__container{
    padding-top: 10px;
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: repeat( auto-fill, minmax(225px, 225px) );
    justify-content: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px){
    .book-cards__container{
        grid-template-columns: repeat( auto-fill, minmax(160px, 160px) );
        margin-left: 15px;
        margin-right: 15px;
    }
}