.book-card__container{
    width: 243px;
    height: 350px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px rgba(60,116,15,0.75);
}
@media only screen and (max-width: 767px){
    .book-card__container{
        width:162px;
        height: 255px;
    }
}

.book-card__button-container{
    height: 0;
    width: 0;
    position:relative;
    z-index: 1;
    top:-278px;
    left: 204px;
}

@media only screen and (max-width: 767px){
    .book-card__button-container{
        top:-204px;
        left: 135px;
        transform: scale(.7);
    }
}
.book-card__image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #3C740F;
    height: 280px;
    background-color: #ffffff;
    /* padding: 3px; */
}


.book-card__image-container img{
    height: 280px;
    width: 243px;
    object-fit: cover;
}

@media only screen and (max-width: 767px){
    .book-card__image-container{
        height: 205px;
        width:162px;
    }

    .book-card__image-container img{
        height: 205px;
        width:162px;
        object-fit: cover;
    }
}

.book-card__details-container{
    width: 223px;
    height: 62px;
    padding: 3px 10px;
    background-color: #ccdfbc;
    overflow: hidden;
    border-radius: 0px 0px 7px 7px;
}

@media only screen and (max-width: 767px){
    .book-card__details-container{
        width: 142px;
        height: 42px;
    }
}

.book-card__title{
    margin-top: 2px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
    font-size: 19px;
    line-height: 29px;
    font-weight: 600;
    height: 29px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 767px){
    .book-card__title{
        font-size: 13px;
        height: 18px;
        line-height: 18px;
    }
}

.book-card__author{
    font-family: 'Bitter', serif;
    font-size: 16px;
    color: #1c1d1c;
    line-height: 18px;
    font-weight: 600;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 767px){
    .book-card__author{
        font-size: 12px;
        height: 15px;
        line-height:15px;
    }
}