.book-button__button{
    background: #3C740F;
    border-radius: 0px 0px 0px 7px;
    border: 2px solid white;
    width: 30px;
    height: 30px;
}

.book-button__button:hover{
    background: #3C740F;
    stroke: #ccdfbc;
}

.book-button__button:active{
    background: #ccdfbc;
    stroke: #3C740F;
}