@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #964a14;
}

nav a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #139296;
}

nav a:active{
    color: #63300d;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #139296;
}

nav li {
    display: inline-block;
    margin: 1rem;
}