@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.navigation__container{
    background-image: url("../assets/vines-background.jpg");
    height: 145px;
}
.navigation__container nav {
    background-color: rgba(255,255,255, 0.7);
    /* display: inline-block; */
}
.navigation__container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation__container nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
    text-decoration: none;
    color: #000000;
}

.navigation__container nav a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #0F6874;
}

.navigation__container nav a:active{
    color: #0F6874;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #0F6874;
}

.navigation__container nav li {
    display: inline-block;
    margin: 1rem;
}

.navigation__search{
    /* use calculation */
    display: inline-block;
    width: calc(90% - 300px);
}