.navigation__container{
    background-image: url("../assets/vines-background.jpg");
    height: 145px;
    position: fixed;
    top:0;
    width: 100%;
    /* position: fixed;
    top: 0; */
}

.navigation__hamburger-container{
    /* text-align: center; */
    background-color: rgba(255,255,255, 0.7);
    padding: 13px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
}
.navigation__hamburger{
    font-size: 35px;
    display: inline-block;
    margin-right: 20px;
    /* padding */
}
.navigation__hamburger-search{
    display: inline-block;
}
@media only screen and (max-width: 767px){
    .navigation__hamburger-container{
        display: flex;
    }
}

.navigation__container nav {
    background-color: rgba(255,255,255, 0.7);
    /* display: inline-block; */
}
.navigation__container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for when the nav bar switches to a hamburger menu */
@media only screen and (max-width: 767px){
    .navigation__container nav{
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 30%);
        z-index: 100;
        display: none;
    }
    .navigation__container nav ul{
        padding-bottom: 10px;
        flex-flow: column wrap;
    }
    .navigation__container nav li{
        text-align: left;
        align-self: flex-start;
        padding-left: 15px;
    }
    .navigation__search.navigation__search{
        display: none;
    }
}
.navigation__container nav li {
    display: inline-block;
    margin:0;
}

.navigation__container nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 1rem;
}

.navigation__container nav a:hover{
    background-color:rgba(60, 116, 15, 0.6);
}

.navigation__container nav a:active{
    background-color: rgba(15, 104, 116, 0.6);
}

.navigation__search{
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 400px);
}
