.search-bar__container{
    background: #FFFFFF;
    box-shadow: 4px 4px 10px #3C740F;
    border-radius: 7px;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.search-bar__search{
    border: none;
}