.search-bar__container{
    margin: 0;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px #3C740F;
    border-radius: 7px;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.search-bar__search{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: 'Poppins', 'sans-serif';
    background-color: transparent;
    margin-left: 10px;
    transform: translateY(-2px);
}

.search-bar__results-container{
    position: fixed;
    background-color: white;
    width: inherit;
    margin-top: 10px;
    border-radius: 0px 0px 7px 7px;
    overflow: hidden;
    /* border-right: 1px solid #3C740F;
    border-left: 1px solid #3C740F; */
    box-shadow: 0px 0px 4px 3px rgba(60,116,15,0.75);
}

.search-bar__result-container{
    display: flex;
    background-color: white;
    height: 40px;
    border-bottom: 1px solid #3C740F;

}

.search-bar__result-title{
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 40px;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.search-bar__result-connective{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 40px;
    width: 30px;
    text-align: center;
}

.search-bar__result-author{
    font-family: 'Bitter', serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    padding-top: 1px;
    padding-right: 10px;
    color: #1c1d1c;
    max-width:calc(30% - 30px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}




